* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#2b1055,#7597de);

}
section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;

}
section img#moon {
mix-blend-mode: screen;

}
section img#star {
    height: 100%;
    object-fit: cover;

}
section img#mountains_behind {
    bottom: 0;
    top: initial;
   
}
section img#mountains_front {
    bottom: o;
    top: initial;
}
#text {
position: absolute;
color: #fff;
font-size: 8vw;
font-weight: 200;

}
#text span {
    font-weight: 700;

}
#btn {
 position: absolute;  
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 margin-top: 80px;
 text-decoration: none;
 display: inline-block;
 padding: 8px 50px;
 background: #fff;
 border-radius: 40px;
 font-size: 1.4em;
 color: #2b1055;
 z-index: 10000;
}